<h1>
  {{title}}
  <app-hello-world></app-hello-world>
  <app-user-list></app-user-list>
</h1>
<form class="ui large form segment">
  <h1 class="ui header">Add a link</h1>

  <div class= "field">
    <label for ="title">Title:</label>
    <input name ="title"#newtitle>
  </div>

  
  <div class= "field">
    <label for ="link">Link</label>
    <input name="link" #newlink>
  </div>
  <button (click)= "addArticle(newtitle ,newlink)"
      class="ui positive roght floated button">
    SubmitLink
  </button>
</form>